@model MedicalTests.Domain.Statuses

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>
<body>
</body>
<h3>Вы хотите удалить эту информацию?</h3>
<div>
    <h4>Статусы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
