@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body>
</body>
<p>
    Автор: логики проекта Головко Яна Вячеславовна, автор версии приложения для анализов - Болотов Александр Александрович<br />
    @ViewBag.Assembly<br />
    2021 г.
</p>