@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>Болотов Александр Александрович</h3>
<body>
</body>
<address>
    620002, Россия, г. Екатеринбург, ул. Мира, д. 28.<br />
    Кафедра "Теплофизика и информатика в металлургии", ИНМТ Уральский федеральный университет<br />
    <abbr title="Телефон рабочий">Телефон рабочий:</abbr>
    (343) 375-44-51
</address>

<address>
    <strong>Техническая поддержка:</strong>   <a href="mailto:Sasha_Triceps@mail.ru">Sasha_Triceps@mail.ru</a><br />

</address>